<section class="listing dark">
  <div class="container">
    <h2>{{ component.title }}</h2>
    <ol class="posts">
      {% if true %}
        {% assign posts = collections.all | contains: 'tags', component.showtag %}
      {% else %}
        {% assign posts = collections.all | contains: 'layout', 'post' %}
      {% endif %}
      {% for article in posts %}
        <li class="post"><a href="{{ article.url }}">
          {% if article.data.shareImage %}
          <img src="{{ article.data.shareImage }}" alt="" />
          {% endif %}            
          <h3 class="title">{{ article.data.title }}</h3>
          <p class="description">{{ article.data.description }}</p>
          <p class="post-date">{{ article.date | apDate }}</p>
          </a>
        </li>
      {% endfor %}
    </ol>
  </div>
</section>
